@use '../../utils' as *;
.si__location{
    &__area{
        position: relative;
        z-index: 2;
        &::before{
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: #000;
            opacity: .8;
            z-index: -2;
        }
    }
    &__box{
        transition: .6s;
        @media #{$lg2}{
            margin-top: 40px;
        }
    }
    &__box:hover &__text h6{
        background: var(--rr-theme-primary);
        color: var(--rr-common-white);
    }
    &__text{
        text-align: center;
        margin-top: -41px;
        h6{
            background: var(--rr-common-white);
            display: inline-block;
            padding: 25px 75px 32px;
            font-size: 45px;
            font-weight: 400;
            color: var(--rr-heading-primary);
            z-index: 2;
        }
    }
    &__right{
        display: flex;
        justify-content: center;
        margin-top: 84px;
        h6{
            font-weight: 400;
            font-size: 30px;
            color: var(--rr-common-white);
            position: relative;
            &::before{
                position: absolute;
                content: "";
                bottom: -1px;
                left: 0;
                height: 1px;
                width: 223px;
                border: 1px solid var(--rr-common-white);
            }
            &:hover{
                color: var(--rr-theme-primary);
            }
        }
    }
}