@use '../../utils' as *;
.si__luxuries{
    &__area{
        
    }
    &__box{
        transition: .6s;
        position: relative;
        @media #{$lg2}{
            margin-top: 40px;
        }
    }
    &__box:hover &__thumb img{
        transform: scale(1.07);
    }
    &__right{
        text-align: center;  
        position: relative;
        z-index: 2;     
    }
    &__thumb{
        overflow: hidden;
        border-radius: 10px;
       img{
        border-radius: 10px;
       }
    }
    &__content{       
        background: var(--rr-common-white);
        display: inline-block;
        padding: 25px 50px 27px 50px;
        border-radius: 10px;
        z-index: 22;
        margin-top: -65px;
        span{
            font-weight: 400;
            font-size: 16px;
            color: #acadb3;
        }
        h6{
            font-weight: 400;
            font-size: 25px;
            color: var(--rr-heading-primary);
            margin-top: 3px;
            margin-bottom: 21px;
        }
    }
    &__list{
        ul{
            li{
                display: inline-block;
                margin-right: 13px;
            h5{
                font-weight: 400;
                font-size: 16px;
                i{
                    margin-right: 7px;
                }
            }
            }
        }
    }
    &__btn{
        background: var(--rr-theme-primary);
        padding: 9px 27px;
        display: inline-block;
        color: var(--rr-common-white);
        transition: .6s;
        border-radius: 7px;
        margin-top: 17px;
        &:hover{
            background: var(--rr-heading-primary);
        }
    }
}
