@use '../../utils' as *;
.si__section__title{
    h4{
        font-weight: 400;
        font-size: 20px;
        color: var(--rr-theme-primary);
        text-transform: uppercase;
    }
    h5{
        font-weight: 400;
        font-size: 48px;
        color: var(--rr-heading-primary);
        margin-top: 22px;
        margin-bottom: 35px;
        @media #{$lg2}{
            font-size: 31px;
        }
        @media #{$xs}{
            font-size: 24px;
        }
        @media #{$xxs}{
            font-size: 22px;
        }
    }
    span{
        font-size: 30px;
        font-weight: 400;
        color: var(--rr-heading-primary);
        @media #{$lg2}{
            font-size: 21px;
        }
    }
    p{
        font-weight: 400;
        font-size: 20px;
        color: #474747;
        @media #{$lg2}{
            font-size: 17px;
        }
        @media #{$xs}{
            font-size: 14px;
        }
    }
}

.tilte-color h5{
    color: var(--rr-common-white);
}
.tilte-colortwo p{
    color: #474747;
    text-transform: capitalize;
    font-size: 18px;
}